/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

body{
	width:100vw;
	height:100vh;
}

@media screen and (min-width: 1000px){      
    
	.kitten {        
        content:url(kitten-large.png);
      }
	
	body{
		background-color:lavender;
	}
	
}

@media screen and (min-width: 999px) {      
    .kitten{
	    
	content:url(kitten-medium.png);
    
	}
	
	body{
		background-color:#b76e79;
	}
} 

@media screen and (min-width: 600px){   
   
	.kitten{      
        content:url(kitten-small.png);
    }	
	
	body{
		background-color:#FFDAB9;
	}
}

@media screen and (max-width: 400px) {    
     
	.popup{         
         content:url(kittyloaf.gif);   
	     visibility:visible;
     } 
	
	body{
		background-color:mediumturquoise;
	}
}
